.about-wrapper {
    @extend %parent-container-width-and-center;
    background: #000000;
    color: $white;

    .about-container {
        @extend %child-container-width-and-center;

        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 2fr;
        }

        img {
            width: 100%;
        }
    }
}