.about-container {
    @extend %width-and-center;
    @extend %general-sections-padding;

    @media (min-width:768px) {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }


    img {
        width: 100%;
        height: 300px;
        object-fit: cover;

        @media (min-width:768px) {
            height: 100%;
        }
    }



    .about-text-container {
        margin-top: 1.5rem;
        border-top: 1px solid rgba(0, 0, 0, 0.2);

        @media (min-width:768px) {
            margin-top: 0;
            margin-left: 4rem;
        }

        h2 {
            margin: 1rem 0;
            font-family: $header-font;
            font-size: 40px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: -0.3px;
            margin: 2rem 0;
        }

        p {

        }


        .about-text-btn-container {
            margin-top: 1.5rem;
        }
    }
}