.hero-container {
    @extend %width-and-center;
    @extend %general-sections-padding;
    position: relative;


    .hero-text {
        @media (min-width: 768px) {
            background-color: $white;
            position: absolute;
            bottom: 5%;
            z-index: 999;
        }
    }
}