.nav-container {
    @extend %width-and-center;
    @extend %general-sections-padding;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;


    // ================================= Logo
    .nav-logo {
        @extend %logo;
    }


    // ================================= Mobile Menu Buttons
    .mobile-menu-btn {
        background: transparent;
        border: none;
        font-size: 1.4rem;

        @media (min-width: 768px) {
            display: none;
        }
    }


    // ================================= Nav Menu
    .nav-menu {
        background-color: $white;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 999;

        @media (min-width: 768px) {
            background-color: transparent;
            position: inherit;
        }


        // ================================= Mobile Logo and Btn Container
        .mobile-inter {
            width: 100%;
            @extend %general-sections-padding;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (min-width: 768px) {
                display: none;
            }
        }


        // ================================= List & Links
        ul {
            width: 100%;
            @extend %general-sections-padding;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;

            @media (min-width:768px) {
                all: unset;
            }


            .link {
                color: $header-color;
                font-family: $header-font;
                font-weight: 700;
                font-size: 1.1rem;
                text-decoration: none;
                transition: all 0.25s ease-in-out;

                &:hover {
                    color: red;
                }

                @media (min-width: 768px) {
                    margin-right: 1rem;

                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}