.slider-wrapper {
    @extend %parent-container-width-and-center;


    // ================================= Slider Container
    .slider-container {
        @extend %child-container-width-and-center;
        position: relative;


        // ================================= Slider Frame
        .slider-frame {
            overflow: hidden;
            height: 700px;
            width: 100%;
            max-width: 1200px;


            // ================================= Slider Frame
            .slide-images {
                width: 3600px;
                height: 700px;
                margin: 0 -2400px 0 0;
                position: relative;
                animation-name: slide_animation;
                animation-duration: 33s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-play-state: running;

                .image-container {
                    height: 700px;
                    width: 1200px;
                    position: relative;
                    float: right;

                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }


        // ================================= Intro Text
        .intro-text {
            @media (min-width: 768px) {
                background-color: white;
                position: absolute;
                bottom: 0;
                z-index: 999;
            }
        }
    }
}