.projects-intro-wrapper {
    @extend %parent-container-width-and-center;

    .projects-intro-container {
        @extend %child-container-width-and-center;
    }

    .projects-cards-container {
        @extend %child-container-width-and-center;
    }
}


.projects-intro-wrapper-light {
    background: $light-section-color;
}

.projects-intro-wrapper-dark {
    background: #000000;
    color: $white;
}