.about-container  {
    @extend %max-width;
    margin: 3rem auto 5rem;

    @media (min-width: $tablet) {
        margin: 5rem auto;
    }


    // ================================= About Image & Text.
    .about-group {
        @media (min-width: $tablet) {
            display: grid;
            grid-template-columns: 1fr 1.2fr;
            gap: 3rem;
        }
    
        @media (min-width: $desktop) {
            grid-template-columns: 1.2fr 2fr;
        }


        // ================================= Image.
        img {
            width: 100%;
            // height: 300px;
            pointer-events: none;
            object-fit: cover;
            border-radius: 5px;
            
            /*
                @media (min-width: $tablet) {
                    height: 100%;
                }
            */
        }


        // ================================= Text Container.
        .about-text-container {
            margin-top: 2rem;
            border-top: 1px solid #111111;

            @media (min-width: $tablet) {
                margin-top: 0;
            }


            h2 {
                @extend %h1;
                color: $header-color;
                margin: 2rem 0 1rem;
            }

            p {
                @extend %paragraph-big;
                color: $text-color;
                line-height: 1.7;
            }
        }
    }


    // ================================= Tech Icons Container.
    .tech-icons-container {
        display: grid;
        grid-template-columns: repeat(5, auto);
        justify-content: center;
        gap: 2rem;
        margin-top: 3rem;
    
        @media (min-width: $tablet) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 4rem;
        }

        @media (min-width: $desktop) {
            margin-top: 5rem;
        }
    
    
        img {
            width: 100%;
            height: 35px;
        }
    }
}