.footer-wrapper {
    background-color: $footer-background-color;
    color: $background-color;


    // ================================= Main Container.
    .footer-container {
        @extend %max-width;
        text-align: center;
        padding: 2.5rem 0;

        @media (min-width: $tablet-small) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: left;
            padding: 1.5rem 0;
        }


        // ================================= Footer Logo and Links.
        .footer-pages {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.35rem;
            margin-bottom: 4rem;

            @media (min-width: $tablet-small) {
                flex-direction: row;
                gap: 1.5rem;
                margin-bottom: 0;
            }

            @media (min-width: $desktop) {
                gap: 2rem;
            }


            .footer-logo {
                @extend %logo;
                color: $background-color;
                margin-bottom: 1rem;

                @media (min-width: $tablet-small) {
                    margin: 0;
                }
            }


            .footer-link {
                color: $background-color;
                font-size: 1.1rem;
                text-decoration: none;
                transition: all 0.25s ease-in-out;

                &:hover {
                    color: $general-hover;
                }

                @media (min-width: $tablet) {
                    font-size: 0.95rem;
                }
            }
        }


        // ================================= Footer Social Container.
        .footer-social {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            a {
                color: $background-color;
                font-size: 1.4rem;
                transition: all 0.25s ease-in-out;

                &:hover {
                    color: $general-hover;
                }
            }
        }
    }
}