.interested-wrapper {
    background-color: $interested-section-background-color;


    // ================================= Main Container.
    .interested-container {
        @extend %max-width;
        text-align: center;
        padding: 2rem 0;

        @media (min-width: $tablet-small) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: left;
            padding: 1.5rem 0;
        }


        // ================================= H2.
        h3 {
            @extend %h3;
            color: $header-color;
            margin-bottom: 2rem;

            @media (min-width: $tablet-small) {
                margin-bottom: 0;
                width: 300px;
            }

            @media (min-width: $desktop) {
                width: auto;
            }
        }


        // ================================= Button.
        .interested-btn {
            @extend %button;
            background-color: transparent;
            color: $header-color;
            margin: 0 auto;
            border: 1px solid $header-color;

            &:hover {
                background-color: $transparent-btn-hover-background;
                color: $background-color;
            }

            @media (min-width: $tablet-small) {
                margin: 0;
            }
        }
    }
}