.main-project-card-container {
    user-select: none;
    text-align: center;

    @media (min-width: $tablet-big) {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: 2rem;
        text-align: left;
    }

    @media (min-width: $desktop) {
        grid-template-columns: 1fr 2fr;
    }


    // ================================= Image.
    img {
        width: 100%;
        max-width: 500px;

        @media (min-width: $tablet-big) {
            border-top-left-radius: 5%;
            border-bottom-left-radius: 5%;
        }
    }


    // ================================= Card text container.
    .main-project-card-text-container {
        margin-top: 2.5rem;
        padding-top: 1.5rem;
        border-top: 1px solid $border-faded-color;

        @media (min-width: $tablet-small) {
            max-width: 600px;
            margin: 2.5rem auto 0;
        }

        @media (min-width: $tablet-big) {
            max-width: 85%;
            margin: 0 auto;
            padding: 1.5rem 0 0;
        }


        h2 {
            @extend %h2;
            color: $header-color;
            margin-bottom: 1.5rem;
        }


        p {
            @extend %paragraph-basic;
        }


        // ================================= Card buttons.
        .card-buttons-container {
            display: grid;
            gap: 1rem;
            margin-top: 1.5rem;

            @media (min-width: $tablet) {
                grid-template-columns: 1fr 1fr;
            }


            a {
                background-color: transparent;
                color: $header-color;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                font-size: 1.1rem;
                text-decoration: none;
                cursor: pointer;
                border: 1px solid $border-faded-color;
                transition: all 0.25s ease-in-out;

                &:hover {
                    background-color: $transparent-btn-hover-background;
                    color: $background-color;
                }
            }


            .dark-btn {
                background-color: $footer-background-color;
                color: $background-color;

                &:hover {
                    background-color: $background-color;
                    color: $transparent-btn-hover-background;
                }
            }
        }
    }
}


// ================================= Card in reverse.
.main-project-card-container-reversed {
    @media (min-width: $tablet-big) {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        gap: 2rem;
        text-align: left;
    }

    @media (min-width: $desktop) {
        grid-template-columns: 2fr 1fr;
    }


    // ================================= Image.
    img {
        width: 100%;
        order: 1;

        @media (min-width: $tablet-big) {
            border-radius: 0;
            border-top-right-radius: 5%;
            border-bottom-right-radius: 5%;
        }
    }
}