.misc-card-container {
    border-radius: 10px;
    background-color: #f4f9ff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    // ================================= Image.
    img {
        width: 100%;
        max-height: 170px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }


    // ================================= Card text container.
    .misc-card-text-container {
        // text-align: center;
        padding: 1rem;


        h2 {
            @extend %h3;
        }

        p {
            @extend %paragraph-small;
            margin: 1rem 0 2rem;
        }


        // ================================= Card buttons container.
        .card-buttons-container {
            display: grid;
            gap: 1rem;

            a {
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $header-color;
                text-decoration: none;
                border: 1px solid $border-faded-color;
                cursor: pointer;
                transition: all 0.25s ease-in-out;

                &:hover {
                    color: $general-hover;
                }
            }
        }
    }
}
