
/*
.misc-card-container {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


    // ================================= Image.
    img {
        width: 100%;
        max-height: 150px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }


    // ================================= Card text container.
    .misc-card-text-container {
        text-align: center;
        padding: 1rem;


        h2 {
            @extend %h3;
        }

        p {
            @extend %paragraph-small;
            margin: 1rem 0 2rem;
        }


        // ================================= Card buttons container.
        .card-buttons-container {
            a {
                color: $header-color;
                font-size: 1.1rem;
                text-decoration: none;
                cursor: pointer;
                transition: all 0.25s ease-in-out;

                &:hover {
                    color: $general-hover;
                }

                &:first-of-type {
                    margin-right: 1.5rem;
                }
            }
        }
    }
}
*/