.misc-card-container {
    background-color: $background-color;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;

    img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }


    // ================================= Text container.
    .misc-card-text-container {
        // text-align: center;
        padding: 2rem;

        @media (min-width: $tablet-small) {
            padding: 1.5rem 2rem;
        }


        h2 {
            @extend %h3;
        }

        p {
            @extend %paragraph-small;
            margin: 1rem 0 2rem;
        }


        // ================================= Buttons container.
        .card-buttons-container {
            display: flex;
            justify-content: space-evenly;
            a {
                color: $header-color;
                font-size: 1.1rem;
                text-decoration: none;
                cursor: pointer;
                transition: all 0.25s ease-in-out;

                &:hover {
                    color: $general-hover;
                }

                &:first-of-type {
                    margin-right: 2rem;
                }
            }
        }
    }
}