.tech-container {
    @extend %width-and-center;
    @extend %general-sections-padding;
    text-align: center;


    h2 {
        color: $header-color;
        font-family: $header-font;
        font-size: 2.2rem;
        font-weight: 700;
        letter-spacing: -0.3px;
        margin-bottom: 1rem;
    }

    .tech-cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2rem;

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
        }

        .tech-card {
            img {
                width: 50px;
            }
        }
    }
}