/*
.tech-container {
    @extend %width-and-center;
    @extend %general-sections-padding;
    text-align: center;
    margin: 2rem auto 3rem;

    @media (min-width: 900px) {
        display: flex;
        justify-content: space-between;
        // align-items: center;
    }

    h2 {
        @extend %h2;
        color: $header-color;
        margin-bottom: 3rem;

        @media (min-width: 900px) {
            margin-bottom: 0;
        }
    }

    .tech-cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        @media (min-width: 900px) {
            display: flex;
        }

        .tech-card {
            img {
                width: 40px;

                @media (min-width: 900px) {
                    width: 40px;
                }
            }
        }
    }
}

/*
.tech-container {
    @extend %width-and-center;
    @extend %general-sections-padding;
    text-align: center;
    margin: 2rem auto 3rem;


    h2 {
        @extend %h1;
        color: $header-color;
        margin-bottom: 3rem;
    }

    .tech-cards-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .tech-card {
            img {
                width: 50px;
            }
        }
    }
}
*/