.contact-container {
    @extend %max-width;
    user-select: none;
    margin-bottom: 5rem;


    // ================================= Get In Touch Container.
    .split-container {
        border-top: 1px solid $border-faded-color;

        @media (min-width: $desktop) {
            display: flex;
            justify-content: space-between;
            padding-top: 2rem;
        }

        h1 {
            @extend %h1;
            color: $header-color;
            margin: 1.5rem 0 1rem;

            @media (min-width: $desktop) {
                margin: 0;
            }
        }


        // ================================= Get In Touch Sub-Container. 
        .get-in-touch-sub-container {
            @media (min-width: $desktop) {
                width: 70%;
            }

            p {
                @extend %paragraph-big;
                margin-bottom: 2rem;
            }


            .get-in-touch-social {
                display: flex;
                gap: 1rem;
                margin-bottom: 3.5rem;

                a {
                    color: $header-color;
                    font-size: 1.5rem;
                    cursor: pointer;
                    transition: all 0.25s ease-in-out;

                    &:hover {
                        color: $general-hover;
                    }
                }
            }
        }


        // ================================= Contact Form.
        .contact-form {
            @media (min-width: $desktop) {
                width: 70%;
            }


            .form-group {
                display: grid;
                gap: 0.5rem;
                margin-bottom: 1.5rem;


                // ================================= Label.
                label {
                    @extend %paragraph-small;
                }


                // ================================= Input & Textarea.
                input, textarea {
                    background-color: $form-input-background-color;
                    padding: 1rem;
                }


                // ================================= Error Messages.
                .error-message {
                    @extend %paragraph-small;
                    font-size: 0.8rem !important;
                    color: $error-color;
                    margin-bottom: 1rem;
                }

                .hide-error-message {
                    display: none;
                }

                .show-error-message {
                    display: block;
                }
            }


            // ================================= Submit.
            button {
                @extend %button;
                background-color: $button-blue;
                color: $background-color;
                margin-top: 2rem;

                &:hover {
                    background-color: $transparent-btn-hover-background;
                }
            }
        }
    }
}