.projects-container {
    @extend %width-and-center;
    @extend %general-sections-padding;

    .misc-projects {
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
        }

        @media (min-width: 950px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}