.main-projects {
    @extend %max-width;
    display: grid;
    gap: 4rem;
    margin-bottom: 5rem;

    @media (min-width: $tablet) {
        margin-bottom: 7rem;
    }
}


.misc-projects-wrapper {
    background-color: #1e1d20;
    padding: 4rem 0 5rem;

    @media (min-width: $tablet) {
        padding: 4rem 0 7rem;
    }

    .misc-projects {
        @extend %max-width;
        display: grid;
        gap: 2rem;

        @media (min-width: $tablet-small) {
            grid-template-columns: 1fr 1fr;
        }

        @media (min-width: $tablet-big) {
            gap: 4rem;
        }
        
        @media (min-width: $desktop) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}