// Colors

$bg-color: #f8f8f4;
$text-color: #252525;
$header-color: #2a2831;
$link-hover-color: #8caea5;




$strange-blue: #262c35;
$big-btn: #203a4b;


$max-width: 1100px;



// Fonts
$main-font: 'Public Sans', sans-serif;
$header-font: 'Ibarra Real Nova', serif;
$header-fw-400: 400;
$header-fw-500: 500;