// =================== Colors.
$background-color: #f8f8f8;
$text-color: #242424;
$header-color: #201f25;
$link-hover-color: #8caea5;
$light-border-color: #cccccc;


// =================== Fonts
$main-font: 'Public Sans', sans-serif;
$logo-font: 'Monoton', cursive;
$header-font: 'Ibarra Real Nova', serif;
$header-fw-400: 400;
$header-fw-500: 500;
$header-fw-700: 700;


// =================== Width & center
%parent-container-width-and-center {
    width: 100%;
    display: flex;
    justify-content: center;
}

%child-container-width-and-center {
    width: 90%;
    max-width: 1100px;
    padding: 2.5rem 0;
}


// =================== Buttons
.page-btn-light {
    background-color: transparent;
    color: $header-color;
    border: 1px solid $header-color;
    text-decoration: none;
    padding: 1rem 1.5rem;

    &:hover {
        background-color: $header-color;
        color: $background-color;
    }
}

.page-btn-dark {
    background-color: $header-color;
    color: $background-color;
    border: 1px solid transparent;
    text-decoration: none;
    padding: 1rem 1.5rem;

    &:hover {
        background-color: $background-color;
        color: $header-color;
    }
}


// =================== Logo
%logo {
    font-family: $logo-font;
    user-select: none;
}


// =================== Button
%button {
    cursor: pointer;
    font-family: $main-font;
    font-size: 0.8rem;
    letter-spacing: 1.5px;
    padding: 1.15rem 1.5rem;
    text-transform: uppercase;
    transition: all 0.25s ease-in-out;
}


// =================== Subtitle
%subtitle {
    font-family: $header-font;
    font-weight: $header-fw-700;
    font-size: 2.2rem;
    color: $header-color;
}