// =========================== Fonts.
$logo-font: 'Raleway', sans-serif;
$header-font: 'Ibarra Real Nova', serif;
$general-font: 'Public Sans', sans-serif;


// =========================== Colors.
$white: #fafafa;
$section-white: #f7f7f7;
$header-color: #33323d;