// ================================================================== Spacing.
%width-and-center {
    margin: 0 auto;
    max-width: 1100px;
}


%general-sections-padding {

}



// ================================================================== Typographie.
%h1 {
    font-family: $header-font;
    font-size: 2.1rem;
    font-weight: 700;
    letter-spacing: -0.3px;

    @media (min-width: 768px) {
        font-size: 2.2rem;
    }
}


%h2 {
    font-family: $header-font;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.3px;

    @media (min-width: 768px) {
        font-size: 1.8rem;
    }
}


%h3 {
    font-family: $header-font;
    font-size: 1.15rem;
    font-weight: 700;
    letter-spacing: -0.3px;

    @media (min-width: 768px) {
        font-size: 1.3rem;
    }
}


%paragraph-big {
    font-size: 0.95rem;
    letter-spacing: -0.3px;
    line-height: 1.5;

    @media (min-width: 768px) {
        font-size: 1rem;
    }
}


%paragraph-basic {
    font-size: 0.95rem;
    letter-spacing: -0.3px;
    line-height: 1.5;
}


%paragraph-small {
    font-size: 0.85rem;
    letter-spacing: -0.3px;
    line-height: 1.5;
}



// ================================================================== Others.
%logo {
    color: $header-color;
    font-family: $logo-font;
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: -0.3px;
    user-select: none;

    @media (min-width: 768px) {
        font-size: 1.6rem;
    }

    @media (min-width: 1100px) {
        font-size: 1.7rem;
    }
}


%button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 45px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}










%section-header {
    font-family: $header-font;
    font-size: 2.1rem;
    font-weight: 700;
    letter-spacing: -0.3px;

    @media (min-width: 768px) {
        font-size: 2.2rem;
    }
}


%section-paragraph {
    font-size: 0.95rem;
    letter-spacing: -0.3px;
    text-align: justify;
    line-height: 1.5;

    @media (min-width: 768px) {
        font-size: 1rem;
    }
}


.page-intro {
    @extend %width-and-center;
    @extend %general-sections-padding;
    text-align: center;
    margin-bottom: 3rem;

    @media (min-width: 1000px) {
        margin-bottom: 4rem;
    }

    h1 {
        @extend %h1;
        color: $header-color;
        margin-bottom: 1rem
    }

    p {
        @extend %paragraph-big;
        line-height: 1.7;
        max-width: 700px;
        margin: 0 auto;
    }
}