.navbar-container {
  background-color: beige;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }


  // ================================= Nav Logo
  h1 {
    grid-column: 2 / span 1;
  }


  // ================================= Nav Toggle
  .nav-toggle {
    display: none;

    // === ~ is looking for a sibling
    &:checked ~ nav {
      transform: scale(1, 1);
    }
    &:checked ~ nav .nav-page-link {
      opacity: 1;
      transition: opacity 250ms ease-in-out 150ms;
    }
  }


  // ================================= Label
  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 1em;
    user-select: none;

    @media (min-width: 768px) {
      display: none;
    }


    span {
      position: relative;
      display: block;
      background-color: black;
      height: 2px;
      width: 2em;
      border-radius: 2px;

      &::before {
        content: "";
        position: absolute;
        bottom: 7px;
        display: block;
        background-color: black;
        height: 2px;
        width: 2em;
        border-radius: 2px;
      }

      &::after {
        content: "";
        position: absolute;
        top: 7px;
        display: block;
        background-color: black;
        height: 2px;
        width: 2em;
        border-radius: 2px;
      }
    }
  }


  // ================================= Nav
  nav {
    background-color: beige;
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 300ms ease-in-out;

    @media (min-width: 768px) {
      all: unset;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      grid-column: 3 / 4;
    }


    // ================================= Nav Ul
    ul {
      list-style: none;

      @media (min-width: 768px) {
        display: flex;
        justify-content: flex-end;
      }


      // ================================= Nav Li
      li {
        margin-bottom: 1em;
        margin-left: 1em;

        @media (min-width: 768px) {
          margin-bottom: 0;
        }


        // ================================= Links
        .nav-page-link {
          position: relative;
          text-decoration: none;
          text-transform: uppercase;
          opacity: 0;
          transition: opacity 150ms ease-in-out;

          &:hover {
            color: red;
          }

          @media (min-width: 768px) {
            opacity: 1;
          }
        }
      }
    }
  }

}