.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 0.9rem 0;

    @media (min-width: 800px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 250px;
        padding: 2rem;
    }

    @media (min-width: 1400px) {
        padding: 3rem;
    }


    // ================================= Page Logo
    .page-logo {
        font-family: $header-font;
        font-size: 0.7rem;
        text-transform: uppercase;
        letter-spacing: -0.2px;
        user-select: none;

        @media (min-width: 800px) {
            font-size: 1.3rem;
        }
    }


    // ================================= Mobile Button
    .mobile-menu-button {
        background: transparent;
        color: $paragraph-color;
        font-size: 1rem;

        @media (min-width: 800px) {
            display: none;
        }
    }


    // ================================= Nav List
    .nav-list {
        background-color: $header-color;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 1.5rem 0;

        @media (min-width: 800px) {
            background-color: transparent;
            position: initial;
        }


        // ================================= Close Mobile Button
        .mobile-menu-button-close {
            position: absolute;
            right: 1.2rem;
            background: transparent;
            color: $background-color;
            font-size: 1.5rem;

            @media (min-width: 800px) {
                display: none;
            }
        }



        // ================================= List Group
        .list-group {
            display: flex;
            flex-direction: column;
            align-items: center;

            &:first-of-type {
                margin-top: 2.5rem;
            }

            @media (min-width: 800px) {
                align-items: flex-start;
                
                &:first-of-type {
                    margin-top: 0;
                }
            }



            // ================================= Links
            .nav-link {
                background: transparent;
                color: $background-color;
                margin-bottom: 1.5rem;
                font-size: 15.5px;
                text-decoration: none;
                line-height: 1.5em;
                cursor: pointer;

                @media (min-width: 800px) {
                    color: $header-color;
                    margin-bottom: 0.5rem;
                    font-size: 14.5px;
                }
            }
        }


        // ================================= List Group Bold
        .list-group-bold {
            @media (min-width: 800px) {
                margin-bottom: 0.7rem;
            }

            .nav-link-bold {
                font-family: $header-font;
                font-size: 15.5px;
            }
        }



        // ================================= Social Media
        .social-media {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            margin-top: 1rem;

            @media (min-width: 800px) {
                justify-content: flex-start;
                gap: 1rem;
            }

            .social-media-link {
                background: transparent;
                color: $background-color;
                font-size: 20px;
                cursor: pointer;

                @media (min-width: 800px) {
                    color: $header-color;
                    font-size: 15px;
                }
            }
        }
    }
}