.nav-wrapper {
  @extend %parent-container-width-and-center;

  // ========== Container 
  .nav-container {
    @extend %child-container-width-and-center;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 0;

    @media (min-width: 768px) {
      padding: 1rem 0;
      animation: opacity 0.25s linear;
    }

    @media (min-width: 1000px) {
      padding: 1rem 2rem;
    }


    // ========== Logo and Hamburgur
    h1 {
      font-family: $logo-font;
      user-select: none;
    }

    .mobile-menu-btn {
      background: transparent;
      border: none;
      font-size: 1.7rem;
    }


    // ========== Menu
    .nav-menu {
      background-color: $header-color;
      position: fixed;
      top: 0;
      left: 20%;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.3rem;
      z-index: 999;
      // box-shadow: 10px 10px 5px #252525;

      
      @media (min-width: 768px) {
        position: initial;
        flex-direction: row;
        gap: 2rem;
      }

      .link {
        margin-bottom: 1rem;
        color: $text-color;
        text-decoration: none;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: $link-hover-color;
        }
      }
    }
  }
}