.nav-wrapper {
  @extend %parent-container-width-and-center;
  // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  .nav-container {
    @extend %child-container-width-and-center;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 0;

    @media (min-width: 768px) {
      padding: 1.5rem 0;
      animation: opacity 0.25s linear;
    }



    // =========== Logo
    .nav-logo {
      @extend %logo;
      font-size: 1.2rem;

      @media (min-width: 768px) {
        font-size: 1.3rem;
      }

      @media (min-width: 1000px) {
        font-size: 1.4rem;
      }
    }



    // =========== Mobile Menu Buttons
    .mobile-menu-btn {
      background: transparent;
      border: none;
      font-size: 1.5rem;

      @media (min-width: 768px) {
        display: none;
      }
    }



    // =========== Nav Menu
    .nav-menu {
      background-color: $background-color;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      // bottom: 55%;
      z-index: 999;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

      @media (min-width: 768px) {
        position: initial;
        box-shadow: none;
      }



      // =========== Mobile Logo and Btn container
      .mobile-inter {
        @extend %child-container-width-and-center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.3rem 0;

        @media (min-width: 768px) {
          display: none;
        }
      }



      // =========== List & Links
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.9rem;
        margin-top: 1rem;


        @media (orientation:landscape) {
          margin-top: 0;
        }

        @media (min-width: 768px) {
          flex-direction: row;
          margin-top: 0;
          gap: 2rem;
        }


        .link {
          color: $text-color;
          text-decoration: none;
          font-family: $main-font;
          font-size: 1.1rem;
          transition: all 0.25s ease-in-out;

          &:hover {
            color: $link-hover-color;
          }

          &:last-of-type {
            margin-bottom: 2.5rem;
          }

          @media (min-width: 768px) {
            font-size: 1rem;

            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}