.photography-wrapper {
    @extend %parent-width;

    @media (min-width: 800px) {
        display: flex;

        .pages-nav-container {
            width: 250px;
        }
    }


    // ================================= Photography Content Container
    .photography-content-container {
        width: 90%;
        padding: 0.9rem 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-auto-rows: 250px;
        grid-auto-flow: dense;
        grid-gap: 10px;

        @media (min-width: 800px) {
            padding: 2rem;
        }

        @media (min-width: 1400px) {
            padding: 3rem;
        }


        img {
            width: 100%;
            height: 100%;
        }

        .vertical-stretch {
            grid-row: span 1;

            @media (min-width: 560px) {
                grid-row: span 2;
            }
        }
    }
}