@import "config";
@import "global";


// ================================= Components
@import "./_Components/nav";
@import "./_Components/hero";
@import "./_Components/about";
@import "./_Components/interested";
@import "./_Components/footer";
@import "./_Components/tech";
@import "./_Components/mainProjectCard";
@import "./_Components/miscellaneousProjectCard";
@import "./_Components/pageIntro";


// ================================= Pages
@import "./_Pages/home";
@import "./_Pages/gallery";
@import "./_Pages/portfolio";
@import "./_Pages/contact";


body {
    background-color: $background-color;
    color: $text-color;
    font-family: $general-font;
}