@import "config";
@import "navbar";
@import "intro";
@import "about";
@import "footer";
@import "projectCard";
@import "contact";

body {
    background-color: $background-color;
    color: $text-color;
    font-family: $main-font;
}