@import "config";
@import "nav";
@import "about";

body {
    font-family: $general-font;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5rem;
    text-transform: none;
    letter-spacing: .02rem;
}

img {
    width: 100%;
}

.App {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pages-nav-container {
    // background-color: red;
}