.about-wrapper {
  width: 100%;
  max-width: 2000px;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 0.9rem 0;
}
@media (min-width: 800px) {
  .nav-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 250px;
    padding: 2rem;
  }
}
@media (min-width: 1400px) {
  .nav-wrapper {
    padding: 3rem;
  }
}
.nav-wrapper .page-logo {
  font-family: "Raleway", sans-serif;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (min-width: 800px) {
  .nav-wrapper .page-logo {
    font-size: 1.3rem;
  }
}
.nav-wrapper .mobile-menu-button {
  background: transparent;
  color: #666666;
  font-size: 1rem;
}
@media (min-width: 800px) {
  .nav-wrapper .mobile-menu-button {
    display: none;
  }
}
.nav-wrapper .nav-list {
  background-color: #121212;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.5rem 0;
}
@media (min-width: 800px) {
  .nav-wrapper .nav-list {
    background-color: transparent;
    position: initial;
  }
}
.nav-wrapper .nav-list .mobile-menu-button-close {
  position: absolute;
  right: 1.2rem;
  background: transparent;
  color: #ffffff;
  font-size: 1.5rem;
}
@media (min-width: 800px) {
  .nav-wrapper .nav-list .mobile-menu-button-close {
    display: none;
  }
}
.nav-wrapper .nav-list .list-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-wrapper .nav-list .list-group:first-of-type {
  margin-top: 2.5rem;
}
@media (min-width: 800px) {
  .nav-wrapper .nav-list .list-group {
    align-items: flex-start;
  }
  .nav-wrapper .nav-list .list-group:first-of-type {
    margin-top: 0;
  }
}
.nav-wrapper .nav-list .list-group .nav-link {
  background: transparent;
  color: #ffffff;
  margin-bottom: 1.5rem;
  font-size: 15.5px;
  text-decoration: none;
  line-height: 1.5em;
  cursor: pointer;
}
@media (min-width: 800px) {
  .nav-wrapper .nav-list .list-group .nav-link {
    color: #121212;
    margin-bottom: 0.5rem;
    font-size: 14.5px;
  }
}
@media (min-width: 800px) {
  .nav-wrapper .nav-list .list-group-bold {
    margin-bottom: 0.7rem;
  }
}
.nav-wrapper .nav-list .list-group-bold .nav-link-bold {
  font-family: "Raleway", sans-serif;
  font-size: 15.5px;
}
.nav-wrapper .nav-list .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}
@media (min-width: 800px) {
  .nav-wrapper .nav-list .social-media {
    justify-content: flex-start;
    gap: 1rem;
  }
}
.nav-wrapper .nav-list .social-media .social-media-link {
  background: transparent;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}
@media (min-width: 800px) {
  .nav-wrapper .nav-list .social-media .social-media-link {
    color: #121212;
    font-size: 15px;
  }
}

.navbar-container {
  background-color: beige;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}
@media (min-width: 768px) {
  .navbar-container {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
}
.navbar-container h1 {
  grid-column: 2/span 1;
}
.navbar-container .nav-toggle {
  display: none;
}
.navbar-container .nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}
.navbar-container .nav-toggle:checked ~ nav .nav-page-link {
  opacity: 1;
  transition: opacity 250ms ease-in-out 150ms;
}
.navbar-container .nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (min-width: 768px) {
  .navbar-container .nav-toggle-label {
    display: none;
  }
}
.navbar-container .nav-toggle-label span {
  position: relative;
  display: block;
  background-color: black;
  height: 2px;
  width: 2em;
  border-radius: 2px;
}
.navbar-container .nav-toggle-label span::before {
  content: "";
  position: absolute;
  bottom: 7px;
  display: block;
  background-color: black;
  height: 2px;
  width: 2em;
  border-radius: 2px;
}
.navbar-container .nav-toggle-label span::after {
  content: "";
  position: absolute;
  top: 7px;
  display: block;
  background-color: black;
  height: 2px;
  width: 2em;
  border-radius: 2px;
}
.navbar-container nav {
  background-color: beige;
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 300ms ease-in-out;
}
@media (min-width: 768px) {
  .navbar-container nav {
    all: unset;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column: 3/4;
  }
}
.navbar-container nav ul {
  list-style: none;
}
@media (min-width: 768px) {
  .navbar-container nav ul {
    display: flex;
    justify-content: flex-end;
  }
}
.navbar-container nav ul li {
  margin-bottom: 1em;
  margin-left: 1em;
}
@media (min-width: 768px) {
  .navbar-container nav ul li {
    margin-bottom: 0;
  }
}
.navbar-container nav ul li .nav-page-link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
.navbar-container nav ul li .nav-page-link:hover {
  color: red;
}
@media (min-width: 768px) {
  .navbar-container nav ul li .nav-page-link {
    opacity: 1;
  }
}

@media (min-width: 800px) {
  .about-wrapper {
    display: flex;
  }
  .about-wrapper .pages-nav-container {
    width: 250px;
  }
}
.about-wrapper .about-content-container {
  width: 90%;
  margin: 0 auto 2rem;
  padding: 0.9rem 0;
}
@media (min-width: 800px) {
  .about-wrapper .about-content-container {
    padding: 2rem;
  }
}
@media (min-width: 1400px) {
  .about-wrapper .about-content-container {
    display: flex;
    padding: 3rem;
  }
}
.about-wrapper .about-content-container img {
  float: left;
}
@media (min-width: 800px) {
  .about-wrapper .about-content-container img {
    width: 250px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 2.3rem 2.3rem 0;
  }
}
@media (min-width: 900px) {
  .about-wrapper .about-content-container img {
    width: 300px;
    height: 350px;
  }
}
@media (min-width: 1000px) {
  .about-wrapper .about-content-container img {
    width: 360px;
    height: 360px;
  }
}
@media (min-width: 1400px) {
  .about-wrapper .about-content-container .about-text-container {
    width: 500px;
  }
}
.about-wrapper .about-content-container .about-text-container h1 {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2em;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  margin: 1rem 0;
}
@media (min-width: 800px) {
  .about-wrapper .about-content-container .about-text-container h1 {
    margin: 0 0 1rem 0;
  }
}
.about-wrapper .about-content-container .about-text-container p {
  color: #666666;
  line-height: 1.6em;
  letter-spacing: 0.02em;
}
.about-wrapper .about-content-container .about-text-container h3 {
  margin: 1rem 0;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 1.2em;
  letter-spacing: 0.01em;
}

body {
  font-family: "Merriweather", serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
  text-transform: none;
  letter-spacing: 0.02rem;
}

img {
  width: 100%;
}

.App {
  width: 100%;
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */