.contact-wrapper, .images-wrapper, .projects-intro-wrapper, .footer-wrapper, .interested-wrapper, .tech-wrapper, .about-wrapper, .slider-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact-wrapper .contact-container, .images-wrapper .images-container, .projects-intro-wrapper .projects-cards-container, .projects-intro-wrapper .projects-intro-container, .footer-wrapper .footer-container, .interested-wrapper .interested-container, .tech-wrapper .tech-container, .about-wrapper .about-container, .slider-wrapper .slider-container {
  width: 90%;
  max-width: 1200px;
}

.footer-wrapper .footer-container .footer-pages .footer-logo {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

@-webkit-keyframes slide_animation {
  0% {
    right: 0px;
  }
  10% {
    right: 0%;
  }
  20% {
    right: 1200px;
  }
  30% {
    right: 1200px;
  }
  40% {
    right: 2400px;
  }
  50% {
    right: 2400px;
  }
  60% {
    right: 1200px;
  }
  70% {
    right: 1200px;
  }
  80% {
    right: 0px;
  }
  90% {
    right: 0px;
  }
  100% {
    right: 0px;
  }
}

@keyframes slide_animation {
  0% {
    right: 0px;
  }
  10% {
    right: 0%;
  }
  20% {
    right: 1200px;
  }
  30% {
    right: 1200px;
  }
  40% {
    right: 2400px;
  }
  50% {
    right: 2400px;
  }
  60% {
    right: 1200px;
  }
  70% {
    right: 1200px;
  }
  80% {
    right: 0px;
  }
  90% {
    right: 0px;
  }
  100% {
    right: 0px;
  }
}
.nav-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.nav-wrapper .nav-container {
  position: relative;
  width: 90%;
  max-width: 1200px;
  padding: 1.5rem 0;
  z-index: 999;
}
@media (min-width: 768px) {
  .nav-wrapper .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.nav-wrapper .nav-container h1 {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  margin-left: 2rem;
}
@media (min-width: 768px) {
  .nav-wrapper .nav-container h1 {
    margin-left: 0;
  }
}
.nav-wrapper .nav-container .nav-toggle {
  display: none;
}
.nav-wrapper .nav-container .nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}
.nav-wrapper .nav-container .nav-toggle:checked ~ nav .nav-page-link {
  opacity: 1;
  transition: opacity 250ms ease-in-out 150ms;
}
.nav-wrapper .nav-container .nav-toggle-label {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (min-width: 768px) {
  .nav-wrapper .nav-container .nav-toggle-label {
    display: none;
  }
}
.nav-wrapper .nav-container .nav-toggle-label span {
  position: relative;
  display: block;
  background-color: black;
  height: 2px;
  width: 1.3em;
  border-radius: 2px;
}
.nav-wrapper .nav-container .nav-toggle-label span::before {
  content: "";
  position: absolute;
  bottom: 6px;
  display: block;
  background-color: black;
  height: 2px;
  width: 1.3em;
  border-radius: 2px;
}
.nav-wrapper .nav-container .nav-toggle-label span::after {
  content: "";
  position: absolute;
  top: 6px;
  display: block;
  background-color: black;
  height: 2px;
  width: 1.3em;
  border-radius: 2px;
}
.nav-wrapper .nav-container nav {
  position: absolute;
  top: 90%;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 300ms ease-in-out;
}
@media (min-width: 768px) {
  .nav-wrapper .nav-container nav {
    all: unset;
  }
}
@media (min-width: 768px) {
  .nav-wrapper .nav-container nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
  }
}
.nav-wrapper .nav-container nav ul li {
  margin-bottom: 1em;
}
@media (min-width: 768px) {
  .nav-wrapper .nav-container nav ul li {
    margin-bottom: 0;
  }
}
.nav-wrapper .nav-container nav ul li .nav-page-link {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
@media (min-width: 768px) {
  .nav-wrapper .nav-container nav ul li .nav-page-link {
    opacity: 1;
    transition: color 0.25s ease-in-out;
  }
}
.nav-wrapper .nav-container nav ul li .nav-page-link:hover {
  color: red;
}

.slider-wrapper .slider-container {
  position: relative;
}
.slider-wrapper .slider-container .slider-frame {
  overflow: hidden;
  height: 700px;
  width: 100%;
  max-width: 1200px;
}
.slider-wrapper .slider-container .slider-frame .slide-images {
  width: 3600px;
  height: 700px;
  margin: 0 -2400px 0 0;
  position: relative;
  -webkit-animation-name: slide_animation;
          animation-name: slide_animation;
  -webkit-animation-duration: 33s;
          animation-duration: 33s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.slider-wrapper .slider-container .slider-frame .slide-images .image-container {
  height: 700px;
  width: 1200px;
  position: relative;
  float: right;
}
.slider-wrapper .slider-container .slider-frame .slide-images .image-container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .slider-wrapper .slider-container .intro-text {
    background-color: white;
    position: absolute;
    bottom: 0;
    z-index: 999;
  }
}

.about-wrapper {
  background: #000000;
  color: #ffffff;
}
@media (min-width: 768px) {
  .about-wrapper .about-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
.about-wrapper .about-container img {
  width: 100%;
}

.tech-wrapper .tech-container {
  text-align: center;
}
.tech-wrapper .tech-container .tech-cards-container {
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .tech-wrapper .tech-container .tech-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
@media (min-width: 1200px) {
  .tech-wrapper .tech-container .tech-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.interested-wrapper {
  background: #f7f5f1;
}
.interested-wrapper .interested-container {
  text-align: center;
}
@media (min-width: 1000px) {
  .interested-wrapper .interested-container {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
}
.interested-wrapper .interested-container h1 {
  margin-bottom: 2rem;
}
@media (min-width: 1000px) {
  .interested-wrapper .interested-container h1 {
    margin-bottom: 0;
    max-width: 500px;
  }
}
.footer-wrapper {
  background: #1a1a1a;
  color: #ffffff;
}
.footer-wrapper .footer-container {
  padding: 2.7rem 0;
  text-align: center;
}
@media (min-width: 768px) {
  .footer-wrapper .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.75rem 0;
    text-align: left;
  }
}
@media (min-width: 1000px) {
  .footer-wrapper .footer-container {
    padding: 2rem 0;
  }
}
.footer-wrapper .footer-container .footer-pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.35rem;
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .footer-wrapper .footer-container .footer-pages {
    flex-direction: row;
    gap: 1.7rem;
    margin-bottom: 0;
  }
}
.footer-wrapper .footer-container .footer-pages .footer-logo {
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .footer-wrapper .footer-container .footer-pages .footer-logo {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}
.footer-wrapper .footer-container .footer-pages .footer-link {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}
.footer-wrapper .footer-container .footer-pages .footer-link:hover {
  color: #69c4ab;
}
.footer-wrapper .footer-container .footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.footer-wrapper .footer-container .footer-social a {
  color: #69c4ab;
  font-size: 1.3rem;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
}
.footer-wrapper .footer-container .footer-social a:hover {
  color: #ffffff;
}

.main-project-card-container img {
  width: 100%;
}

.misc-card-container img {
  width: 100%;
}

.projects-intro-wrapper-light {
  background: #f7f5f1;
}

.projects-intro-wrapper-dark {
  background: #000000;
  color: #ffffff;
}

.images-wrapper .images-container {
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
}
.images-wrapper .images-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.images-wrapper .images-container .big-stretch {
  grid-column: span 1;
  grid-row: span 1;
}
.images-wrapper .images-container .vertical-stretch {
  grid-row: span 1;
}
.images-wrapper .images-container .horizontal-stretch {
  grid-column: span 1;
}
@media (min-width: 560px) {
  .images-wrapper .images-container .big-stretch {
    grid-column: span 2;
    grid-row: span 2;
  }
  .images-wrapper .images-container .vertical-stretch {
    grid-row: span 2;
  }
  .images-wrapper .images-container .horizontal-stretch {
    grid-column: span 2;
  }
}

@media (min-width: 768px) {
  .contact-wrapper .contact-container .get-in-touch-container {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .contact-wrapper .contact-container .contact-form-container {
    display: flex;
    justify-content: space-between;
  }
}/*# sourceMappingURL=style.css.map */