.redirect-wrapper, .contact-wrapper, .projectCard-wrapper, .footer-wrapper, .about-wrapper, .intro-wrapper, .nav-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.redirect-wrapper .redirect-container, .contact-wrapper .contact-container, .projectCard-wrapper .projectCard-container, .footer-wrapper .footer-container, .about-wrapper .about-container, .intro-wrapper .intro-container, .nav-wrapper .nav-container .nav-menu .mobile-inter, .nav-wrapper .nav-container {
  width: 90%;
  max-width: 1100px;
}

.page-btn-light {
  background-color: transparent;
  color: #201f25;
  border: 1px solid #201f25;
  text-decoration: none;
  padding: 1rem 1.5rem;
}
.page-btn-light:hover {
  background-color: #201f25;
  color: #f8f8f8;
}

.page-btn-dark {
  background-color: #201f25;
  color: #f8f8f8;
  border: 1px solid transparent;
  text-decoration: none;
  padding: 1rem 1.5rem;
}
.page-btn-dark:hover {
  background-color: #f8f8f8;
  color: #201f25;
}

.footer-wrapper .footer-container .footer-pages .footer-logo, .nav-wrapper .nav-container .nav-logo {
  font-family: "Monoton", cursive;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.redirect-wrapper .redirect-container h1, .contact-wrapper .contact-container .contact-me-mail h1, .contact-wrapper .contact-container .get-in-touch-container h1, .projectCard-wrapper .projectCard-container .projectCard-text h2, .intro-wrapper .intro-container .intro-text h1 {
  font-family: "Ibarra Real Nova", serif;
  font-weight: 700;
  font-size: 2.2rem;
  color: #201f25;
}

.nav-wrapper .nav-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 0;
}
@media (min-width: 768px) {
  .nav-wrapper .nav-container {
    padding: 1.5rem 0;
    -webkit-animation: opacity 0.25s linear;
            animation: opacity 0.25s linear;
  }
}
@media (min-width: 768px) {
  .nav-wrapper .nav-container .nav-logo {
    font-size: 1.1rem;
  }
}
@media (min-width: 1000px) {
  .nav-wrapper .nav-container .nav-logo {
    font-size: 1.2rem;
  }
}
.nav-wrapper .nav-container .mobile-menu-btn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .nav-wrapper .nav-container .mobile-menu-btn {
    display: none;
  }
}
.nav-wrapper .nav-container .nav-menu {
  background-color: #f8f8f8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 55%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
@media (orientation: landscape) {
  .nav-wrapper .nav-container .nav-menu {
    bottom: 27%;
  }
}
@media (min-width: 768px) {
  .nav-wrapper .nav-container .nav-menu {
    position: initial;
    box-shadow: none;
  }
}
.nav-wrapper .nav-container .nav-menu .mobile-inter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 0;
}
@media (min-width: 768px) {
  .nav-wrapper .nav-container .nav-menu .mobile-inter {
    display: none;
  }
}
.nav-wrapper .nav-container .nav-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
  margin-top: 1rem;
}
@media (orientation: landscape) {
  .nav-wrapper .nav-container .nav-menu ul {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .nav-wrapper .nav-container .nav-menu ul {
    flex-direction: row;
    gap: 1.5rem;
    margin-top: 0;
  }
}
.nav-wrapper .nav-container .nav-menu ul .link {
  color: #242424;
  text-decoration: none;
  font-family: "Public Sans", sans-serif;
  font-size: 1.1rem;
  transition: all 0.25s ease-in-out;
}
@media (min-width: 768px) {
  .nav-wrapper .nav-container .nav-menu ul .link {
    font-size: 1rem;
  }
}
.nav-wrapper .nav-container .nav-menu ul .link:hover {
  color: #8caea5;
}

.intro-wrapper .intro-container {
  position: relative;
}
.intro-wrapper .intro-container .slideshow-image {
  display: inline-block;
  width: 100%;
  max-height: 650px;
}
.intro-wrapper .intro-container .intro-text {
  padding: 1.3rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
  z-index: 999;
}
@media (min-width: 768px) {
  .intro-wrapper .intro-container .intro-text {
    position: absolute;
    bottom: 0;
    width: 50%;
    background-color: #f8f8f8;
    padding: 1rem 1rem 1rem 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
}
.intro-wrapper .intro-container .intro-text .intro-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  background-color: aquamarine;
  padding: 1rem 1.5rem;
}

@media (min-width: 768px) {
  .about-wrapper .about-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
  }
}
.about-wrapper .about-container img {
  display: none;
  width: 100%;
}
@media (min-width: 768px) {
  .about-wrapper .about-container img {
    display: initial;
  }
}
.about-wrapper .about-container .about-text {
  border-top: 1px solid #000000;
}

.footer-wrapper {
  background-color: #201f25;
  color: #f8f8f8;
  margin-top: 2rem;
}
.footer-wrapper .footer-container {
  padding: 2.7rem 0;
  text-align: center;
}
@media (min-width: 768px) {
  .footer-wrapper .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.75rem 0;
    text-align: left;
  }
}
@media (min-width: 1000px) {
  .footer-wrapper .footer-container {
    padding: 2rem 0;
  }
}
.footer-wrapper .footer-container .footer-pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.35rem;
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .footer-wrapper .footer-container .footer-pages {
    flex-direction: row;
    gap: 1.7rem;
    margin-bottom: 0;
  }
}
.footer-wrapper .footer-container .footer-pages .footer-logo {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .footer-wrapper .footer-container .footer-pages .footer-logo {
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-right: 1rem;
  }
}
.footer-wrapper .footer-container .footer-pages .footer-link {
  color: #f8f8f8;
  text-decoration: none;
  font-family: "Ibarra Real Nova", serif;
  font-size: 0.95rem;
  transition: all 0.25s ease-in-out;
}
@media (min-width: 768px) {
  .footer-wrapper .footer-container .footer-pages .footer-link {
    font-size: 1rem;
  }
}
.footer-wrapper .footer-container .footer-pages .footer-link:hover {
  color: #8caea5;
}
.footer-wrapper .footer-container .footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.footer-wrapper .footer-container .footer-social a {
  color: #f8f8f8;
  cursor: pointer;
  font-size: 1.7rem;
  transition: all 0.25s ease-in-out;
}
.footer-wrapper .footer-container .footer-social a:hover {
  color: #8caea5;
}

.projectCard-wrapper .projectCard-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .projectCard-wrapper .projectCard-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.projectCard-wrapper .projectCard-container .card-image {
  width: 100%;
}
@media (min-width: 768px) {
  .projectCard-wrapper .projectCard-container .card-image-reverse {
    order: 1;
  }
}
.projectCard-wrapper .projectCard-container .projectCard-text {
  margin-top: 1rem;
  padding: 1rem 0 2rem;
  border-top: 1px solid #000000;
}
@media (min-width: 768px) {
  .projectCard-wrapper .projectCard-container .projectCard-text {
    margin-top: 0;
    padding: 2rem;
  }
}
.projectCard-wrapper .projectCard-container .projectCard-text p {
  font-size: 0.95rem;
  letter-spacing: 1.5px;
  line-height: 1.3;
}
.projectCard-wrapper .projectCard-container .projectCard-text .projectCard-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}
@media (min-width: 768px) {
  .projectCard-wrapper .projectCard-container .projectCard-text .projectCard-buttons {
    justify-content: flex-start;
  }
}
.contact-wrapper .contact-container .get-in-touch-container {
  border-top: 0.5px solid #cccccc;
  padding: 1.5rem 0;
}
@media (min-width: 1000px) {
  .contact-wrapper .contact-container .get-in-touch-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: top;
  }
}
.contact-wrapper .contact-container .get-in-touch-container .get-in-touch-container-divide p {
  font-size: 0.95rem;
  letter-spacing: 1.5px;
  line-height: 1.3;
  text-align: justify;
}
.contact-wrapper .contact-container .contact-me-mail {
  border-top: 0.5px solid #cccccc;
  padding: 1.5rem 0;
}
.redirect-wrapper {
  padding: 5rem 0;
}
.redirect-wrapper .redirect-container {
  text-align: center;
}
body {
  background-color: #f8f8f8;
  color: #242424;
  font-family: "Public Sans", sans-serif;
}

.slideshow-image {
  transition: opacity 0.25s ease-in-out;
  opacity: 0;
}

.slideshow-image.show {
  opacity: 1;
}

swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .swiper-slide img {
    width: 1100px;
    height: 550px;
  }
}
@media (min-width: 1000px) {
  .swiper-slide img {
    width: 1100px;
    height: 650px;
  }
}/*# sourceMappingURL=style.css.map */